[submodule "Libs/glfw"]
	path = Libs/glfw
	url = https://github.com/glfw/glfw
[submodule "Libs/pngpp"]
	path = Libs/pngpp
	url = https://github.com/sampotter/pngpp
[submodule "Libs/pugixml"]
	path = Libs/pugixml
	url = https://github.com/zeux/pugixml
